.button {
  border: none;
  background-color: lightblue;
  color: black;
  padding: 5px 10px;
  border-radius: 2px;
}

.button:active {
  outline: auto;
  background-color: lightcyan;
}

.button:not(:last-child) {
  margin-right: 20px;
}
